ci:
  autofix_prs: true
  skip: [pixi-lock-check]

default_language_version:
  python: python3

repos:
  # Run fast code improvement/checks before running PR specific helpers.
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: .patch$
      - id: check-added-large-files
        args: ['--maxkb=4096']
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.5
    hooks:
      - id: rstcheck
        additional_dependencies: [sphinx]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # PIXI lock file check
  - repo: local
    hooks:
      - id: pixi-lock-check
        name: pixi-lock-check
        entry: bash -c "pixi lock --check"
        stage: pre-push
        language: system
